{block content}
    {foreach $articles as $article}
        {include 'articleDetail.latte' ,article => $article, voteLink => $voteLink}
    {/foreach}

    {include '../paginator.latte', paginator => $paginator}

{/block}


{block scripts}
    <script src="/js/vote.js"></script>
{/block}

