version: '3'
services:
  db:
    container_name: nubium_db
    image: mariadb:10.5.1
    ports:
      - 3306:3306
    expose:
      - '3306'
    environment:
      MYSQL_DATABASE: nubium
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./docker/db:/var/lib/mysql
      - ./:/code

  nginx:
    container_name: nubium_nginx
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf
      - ./:/code
    restart: always

  php:
    container_name: nubium_php
    build: ./docker/php
    ports:
      - 9000:9000
    volumes:
      - ./:/code
    links:
      - db
    working_dir: /code
    environment:
      PHP_ENV_MODE: dev

volumes:
  db: