search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:

	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])

	- App\Services\Security\Authenticator
	- App\Router\RouterFactory::createRouter

	- App\Services\Repository\UserRepository
	- App\Services\Repository\ArticleRepository

	- App\Services\Factory\UserFactory
	- App\Services\Factory\ArticleFactory

	- App\Services\Components\LoginCheck\LoginCheckFactory