search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:

	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])

	- App\Router\RouterFactory::createRouter

	- App\Repository\UserRepository
	- App\Repository\ArticleRepository

	- App\Factory\UserFactory
	- App\Factory\ArticleFactory